__pycache__
*ipynb_checkpoints
*.vscode
# ignoring directories
data/*
models

# ignoring build essentials
README.html
*.egg-info
build
dist
deploy.sh

# Ignore files in the root directory
/*.py
/*.ipynb
notes.md

